<h1>Import Errors</h1>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Import</th>
      <th scope="col">Column</th>
      <th scope="col">Value</th>
      <th scope="col">Description</th>
      <th scope="col"></th>
    </tr>
  </thead>

  <tbody>
    <% @import_errors.each do |import_error| %>
      <tr>
        <td scope="row"><%= import_error.import_id %></td>
        <td><%= import_error.column %></td>
        <td><%= import_error.value %></td>
        <td><%= import_error.description %></td>
        <td><%= link_to 'Show', import_error %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate @import_errors, renderer: BootstrapPagination::Rails %>
