<h1>Leads</h1>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Birth at</th>
      <th scope="col">Phone</th>
      <th scope="col">Address</th>
      <th scope="col">Franchise</th>
      <th scope="col">Email</th>
      <th scope="col" colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @leads.each do |lead| %>
      <tr>
        <td scope="row"><%= lead.name %></td>
        <td><%= lead.birth_at %></td>
        <td><%= lead.phone %></td>
        <td><%= lead.address %></td>
        <td><%= lead.franchise %></td>
        <td><%= lead.email %></td>
        <td><%= link_to 'Show', lead %></td>
        <td><%= link_to 'Edit', edit_lead_path(lead) %></td>
        <td><%= link_to 'Destroy', lead, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td>
          <% if lead.lead_errors.present? %>
            <%= link_to 'Errors', lead_lead_errors_path(lead) %>
          <% else %>
            <span>No Errors</span>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate @leads, renderer: BootstrapPagination::Rails %>

