<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @lead.user_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @lead.name %>
</p>

<p>
  <strong>Birth at:</strong>
  <%= @lead.birth_at %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @lead.phone %>
</p>

<p>
  <strong>Address:</strong>
  <%= @lead.address %>
</p>

<p>
  <strong>Franchise:</strong>
  <%= @lead.franchise %>
</p>

<p>
  <strong>Encrypted credit card number:</strong>
  <%= @lead.encrypted_credit_card_number %>
</p>

<p>
  <strong>Email:</strong>
  <%= @lead.email %>
</p>

<%= link_to 'Edit', edit_lead_path(@lead) %> |
<%= link_to 'Back', leads_path %>
