<%= form_with(model: import) do |form| %>
  <% if import.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(import.errors.count, "error") %> prohibited this import from being saved:</h2>

      <ul>
        <% import.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :file, class: "form-label" %>
    <%= form.file_field :file, class: "form-control" %>
  </div>

  <div class="card">
    <h5 class="card-title">Column map</h5>
    <div class="card-body">


      <ul class="list-group" id="list-of-columns">
        <li class="list-group-item d-flex justify-content-between align-items-center">
          <div class="input-group col-md-6">
            <%= select_tag "people", nil, prompt: "Select something", class: "form-select", id: "selected-column" %>
            <button class="btn btn-outline-secondary" type="button" id="button-add-new-column">Add New Column</button>
          </div>
        </li>
        <%= form.fields_for :import_columns do |import_columns_fields| %>
          <li class="list-group-item d-flex justify-content-between align-items-center item-import-columns-live">
            <span class="column-name"><%= import_columns_fields.object.column.name %></span>
            <button class="btn btn-outline-danger button-column-remove" type="button"><%= import_columns_fields.object.order %></button>
            <%= import_columns_fields.hidden_field :order, class: "order" %>
            <%= import_columns_fields.hidden_field :column_id, class: "column_id" %>
            <%= import_columns_fields.hidden_field :_destroy, class: "_destroy" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>


  <div class="actions">
    <%= form.submit class: "btn btn-primary" %>
  </div>
<% end %>
