<h1>Imports</h1>

<table class="table">
  <thead>
    <tr>
      <th scope="col">When</th>
      <th scope="col">Status</th>
      <th scope="col" colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @imports.each do |import| %>
      <tr>
        <td scope="row"><%= l import.created_at %></td>
        <td><%= import.status %></td>
        <td><%= link_to 'Show', import %></td>
        <td>
          <% if import.import_errors.present? %>
            <%= link_to 'Errors', import_import_errors_path(import) %>
          <% else %>
            <span>No Errors</span>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate @import_errors, renderer: BootstrapPagination::Rails %>

<br>

<%= link_to 'New Import', new_import_path %>
