<p id="notice"><%= notice %></p>

<h1>Lead Errors</h1>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Lead</th>
      <th scope="col">Column</th>
      <th scope="col">Value</th>
      <th scope="col">Description</th>
      <th scope="col"></th>
    </tr>
  </thead>

  <tbody>
    <% @lead_errors.each do |lead_error| %>
      <tr>
        <td scope="row"><%= lead_error.lead_id %></td>
        <td><%= lead_error.column %></td>
        <td><%= lead_error.value %></td>
        <td><%= lead_error.description %></td>
        <td><%= link_to 'Show', lead_error %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate @lead_errors, renderer: BootstrapPagination::Rails %>

