<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Contacts</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarScroll">
      <% unless user_signed_in? %>
        <span class="d-flex">
          <div class="btn-group btn-group-sm" role="group" aria-label="Basic mixed styles example">
            <%= link_to "registration", new_user_registration_path, class: "btn btn-success" %>
            <%= link_to "signin", new_user_session_path, class: "btn btn-warning" %>
          </div>
        </span>
      <% else %>

        <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
          <li class="nav-item">
            <%= link_to leads_path, class: controller?('leads') do %>
              <%= "Leads" %>
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to imports_path, class: controller?('imports') do %>
              <%= "Imports" %>
            <% end %>
          </li>
        </ul>


        <span class="d-flex">
          <div class="btn-group btn-group-sm" role="group" aria-label="Basic mixed styles example">
            <%= link_to edit_user_registration_path, class: 'btn btn-warning' do %>
              <%= "configuration" %>
            <% end %>
            <%= link_to destroy_user_session_path, method: :delete, class: 'btn btn-success'  do %>
              <%= "signout" %>
            <% end %>
          </div>
        </span>
      <% end %>
    </div>
  </div>
</nav>
